@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 240 5% 64.9%;

    --bottom-menu-height: 64px;
    --mobile-width: 360px;
    /* --page_safe_boundry: calc(100dvh - var(--bottom-menu-height)); */
  }

  .dark {
    --background: 225 6.06% 12.94%;
    --foreground: 54.55 21.57% 90%;
    --muted: 225 6.06% 16%;
    --muted-foreground: 226 3% 70%;
    --popover: 220 6.52% 18.04%;
    --popover-foreground: 46 27% 98%;
    --card: 225 6.06% 18%;
    --card-foreground: 54.55 21.57% 90%;
    --border: 54.55 3.64% 22%;
    --input: 54.55 5% 30%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 28.56 91.24% 49.22%;
    --secondary-foreground: 54.55 21.57% 90%;
    --accent: 225 1.11% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 91% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 45.07 91.24% 49.22%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-base text-foreground antialiased;
  }
  .reset_animation {
    @apply ![animation-duration:_.1s];
  }

  .prose {
    @apply text-justify;
  }

  .prose p {
    @apply text-sm font-normal text-muted-foreground;
  }

  .prose ul {
    @apply my-5 flex flex-col gap-2 text-muted-foreground;
  }

  .prose ol {
    @apply my-5 flex flex-col gap-2 text-muted-foreground;
  }

  .prose li {
    @apply my-0;
  }

  .prose a {
    @apply text-sm font-semibold text-indigo-500;
  }

  p {
    @apply text-sm font-normal text-muted-foreground;
  }

  @media only screen and (min-width: 640px) {
    .prose h1 {
      @apply my-5 text-3xl font-bold;
    }

    .prose h2 {
      @apply my-5 text-2xl font-bold;
    }

    .prose h3 {
      @apply my-5 text-xl font-bold;
    }

    .prose h4 {
      @apply my-5 text-lg font-bold;
    }

    .prose h5 {
      @apply my-2 text-base font-semibold;
    }

    .prose h6 {
      @apply my-2 text-sm font-semibold;
    }

    h1 {
      @apply text-3xl font-bold;
    }

    h2 {
      @apply text-2xl font-bold;
    }

    h3 {
      @apply text-xl font-bold;
    }

    h4 {
      @apply text-lg font-bold;
    }

    h5 {
      @apply text-base font-semibold;
    }

    h6 {
      @apply text-sm font-semibold;
    }
  }

  @media only screen and (max-width: 640px) {
    .prose h1 {
      @apply my-5 text-2xl font-bold;
    }

    .prose h2 {
      @apply my-5 text-xl font-bold;
    }

    .prose h3 {
      @apply my-5 text-lg font-bold;
    }

    .prose h4 {
      @apply my-5 text-base font-bold;
    }

    .prose h5 {
      @apply my-2 text-sm font-semibold;
    }

    .prose h6 {
      @apply my-2 text-xs font-semibold;
    }

    h1 {
      @apply text-2xl font-bold;
    }

    h2 {
      @apply text-xl font-bold;
    }

    h3 {
      @apply text-lg font-bold;
    }

    h4 {
      @apply text-base font-bold;
    }

    h5 {
      @apply text-sm font-semibold;
    }

    h6 {
      @apply text-xs font-semibold;
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  z-index: 1000;
  height: 5px;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 100px;
  background-color: #dfe6ed;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.ellipsis-one-line span,
.ellipsis-multilines span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-one-line span {
  -webkit-line-clamp: 1;
}

.ellipsis-multilines span {
  -webkit-line-clamp: 3;
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  position: fixed;
  background: transparent;
  overflow: hidden;
  z-index: 9999;
}
.loader::after {
  content: "";
  width: 10%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  @apply bg-primary;
}

@media (min-width: 800px) {
  .loader::after {
    width: 20%;
    animation: animloader 2s linear infinite;
  }
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
